body {
  display: block;
  justify-content: center;
  align-items: center;

}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay {
  position: absolute;
  top: 60%;
  right: 40%;
  font-size: 24px;
  font-family: 'Abril Fatface', serif;
  color: #222;
}

p {
  margin: 0px;  
}

.first-line {
  font-size: 28px;
}

.second-line {
  font-size: 48px;
}

.orange {
  width: 750px;
  margin: auto;
}

.textbox {
  margin: 0px 50px 0px 50px;
  padding: 40px 0px 0px 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #575757;
  line-height: 20px;
}


.list1 {
  list-style-type: square;
}

.quote1 {
  display: flex;
  background: #575757;
  margin: 0;
  width: 750px;
  margin: auto;
  height: auto;
  color: white;
  font-size: 42px;
  text-align: center;
  align-items: center;
  font-family: 'Abril Fatface', serif;
  margin-top: 50px;
}

.textbox {
  margin: 0px 50px 0px 50px;
}

h1 {
  margin: 30px 0px 40px 0px;
}

h2 {
  margin-bottom: 0px;
}

.space {
  margin-bottom: 30px;
}

.bottom_line {
  background: #575757;
  height: 5px;
  width: 750px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}